body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    110deg,
    #ffffff,
    #f4f6f6,
    #e7eaec,
    #c4c7c8,
    #8f9192
  );
}

.text {
  position: absolute;
  transform: scale(0.72) translate(100px, 82px);
  transform-origin: top left;
}

.text_2 {
  position: absolute;
  transform: scale(0.7) translate(1821px, 18px);
}

.text_3 {
  position: absolute;
  transform: scale(0.7) translate(2095px, 550px);
}

.lamp_off {
  position: absolute;
  top: -22%;
  left: 58%;
  width: 280px;
  height: auto;
  transform-origin: top;
  animation: swing 1.6s ease-in-out infinite alternate;

  transition: transform 0.45s ease;
  cursor: pointer;
}

@keyframes swing {
  0% {
    transform: scale(1) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(5deg);
  }
}

.lamp_off:hover {
  animation-play-state: paused;
  transform: scale(1.1) rotate(0deg);
}
